main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient( lightblue, gray, lightblue);
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

.logo{
    border: 1px solid red;
    font-size: 50px;
}

.placeholder {
    font-size: 20px;
    font-style: italic;
    color: red;
}
img{
    width: 200px;
    height: 200px;
}

header {
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid black;
}

footer {
    background-color: lightblue;
    margin-top: 10px;
}